*{
    padding: 0;
    margin: 0;
}

.contenedor{
    display: flex;
    background-color: aqua;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.btn::before{
    content: "Pasa por encima";
    position: absolute;
}

.btn::after{
    content: "¡Hecho!";
    position: absolute;
    opacity: 0;
}

.btn:hover{
    color: white;
    background-color: green;
}

.btn:hover::before{
    opacity: 0;
}

.btn:hover::after{
    opacity: 1;
}





